@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  background: rgb(70, 70, 70);
  font-family: "Press Start 2P", cursive;
}

.red {
  width: 585px;
  height: 440px;
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;

  /*brick wall border*/
  border: 10px solid transparent; /* create a border and make it transparent */
  -webkit-border-image: url(./img/brick-wall-red.png) 30 30 round; /* use the brick wall image as the border image */
  -o-border-image: url(./img/brick-wall-red.png) 30 30 round;
  border-image: url(./img/brick-wall-red.png) 30 30 round;
}
.green {
  border: 5px solid transparent;
  width: 585px;
  height: 440px;
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-width: 0px;
}
.blue {
  width: 585px;
  height: 440px;
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;

  /*brick wall border*/
  border: 10px solid transparent; /* create a border and make it transparent */
  -webkit-border-image: url(./img/brick-wall-grey.png) 30 30 round; /* use the brick wall image as the border image */
  -o-border-image: url(./img/brick-wall-grey.png) 30 30 round;
  border-image: url(./img/brick-wall-grey.png) 30 30 round;
}

#fruit {
  display: none;
}

/* .monitor {
	width: 800px;
	height: 800px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

.gameOver {
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}
.playButton {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #042677;
  border: 0px solid white;
  padding: 14px;
  font-size: 0.9em;
  color: white;
  /* box-shadow: 4px 4px 0px 0px white; */
  font-family: "Press Start 2P", cursive;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.scoreBox {
  float: right;
  background-color: rgb(232, 231, 231);
  margin: 30px;
  /* border: 1px solid black; */
  margin-top: 50px;
  -webkit-box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
  box-shadow: 0px 4px 13px 0px rgba(48, 26, 74, 0.63);
}

h2 {
  font-size: 18px;
  padding: 10px;
}

.highscoreList {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}
/* .highscoreTable {
	position: fixed;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 30px;
} */

.inputHighscoreText {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 25px;
  text-align: center;
  width: 500px;
}
.inputHighscore {
 	position: fixed;
 	top: 70%;
  	left: 50%;
 	transform: translate(-50%, -50%);
  	color: rgb(0, 0, 0);
  	font-size: 20px;
	text-align: center;
	border: 5px solid black;
}
.enterText {
	position: fixed;
	top: 73%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(96, 216, 11);
	font-size: 20px;
	text-align: center;
	width: 500px;
}

td {
	padding: 1px 10px;
}
